spawn-at-startup {
    spawn "swaybg" "-i" "/home/jack/Downloads/ok.jpg" "-m" "fill"
}

input {
    keyboard {
        xkb {
            layout "us"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
}

layout {
    gaps 14
    center-focused-column "never"
    
    default-column-width {
        proportion 0.5
    }

    border {
        width 3
        active-gradient from="#cba6f7" to="#b4befe" angle=45
        inactive-color "#313244"
    }

    focus-ring {
        width 2
        active-color "#f5c2e7"
        inactive-color "#1e1e2e"
    }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Q { close-window; }
    Mod+Shift+E { quit; }
    Mod+Shift+R { spawn "niri" "msg" "action" "reload-config"; }
    Mod+T { spawn "alacritty"; }
    Mod+D { spawn "fuzzel"; }
    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
